// SPDX-License-Identifier: GPL-2.0
/*
 * https://sancloud.com/
 *
 * Copyright (C) 2022-2023 Texas Instruments Incorporated - https://www.ti.com/
 * Copyright (C) 2022-2023 Marc Murphy, SanCloud Ltd - https://www.sancloud.com/
 */

/dts-v1/;

#include "k3-am625-sancloud-stratus.dtsi"

/ {
	wlan_lten: regulator-30 {
		compatible = "regulator-fixed";
		regulator-name = "wlan_lten";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vdd_3v3>;
		regulator-boot-on;
		enable-active-high;
	};

	wlan_en: regulator-31 {
		compatible = "regulator-fixed";
		regulator-name = "wlan_en";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		// vin-supply = <&wlan_lten>;
		// regulator-boot-on;
		enable-active-high;
	};

	leds {
		compatible = "gpio-leds";

		led-0 {
			gpios = <&main_gpio0 33 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			function = LED_FUNCTION_HEARTBEAT;
			default-state = "off";
		};

		led-1 {
			gpios = <&main_gpio0 34 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "disk-activity";
			function = LED_FUNCTION_DISK_ACTIVITY;
			default-state = "keep";
		};

		led-2 {
			gpios = <&main_gpio0 35 GPIO_ACTIVE_HIGH>;
			function = LED_FUNCTION_CPU;
		};
	};

};

&aliases {
		ethernet0 = &cpsw_port1;
		ethernet1 = &cpsw_port2;
		serial0 = &main_uart1;
		serial1 = &main_uart2;
		serial4 = &main_uart4;
		serial5 = &main_uart5;
	};

&{/chosen} {
		base_dtb = "k3-am625-sancloud-GSM.dtb";
	};


&main_pmx0 {

	gpio0_pins_default: gpio0-pins-default {
		pinctrl-single,pins = <
			// AM62X_IOPAD(0x0034, PIN_INPUT, 7) /* (H21) UART5_RXD GPIO_13*/
			// AM62X_IOPAD(0x0038, PIN_OUTPUT, 7) /* (E24) UART5_TXD GPIO_14*/


			AM62X_IOPAD(0x0088, PIN_OUTPUT, 7) /* (L24) GPMC0_DIR.GPIO0_33 */
			AM62X_IOPAD(0x008c, PIN_OUTPUT, 7) /* (L25) GPMC0_DIR.GPIO0_34 */
			AM62X_IOPAD(0x0090, PIN_OUTPUT, 7) /* (M24) GPMC0_DIR.GPIO0_35 */


			AM62X_IOPAD(0x0094, PIN_INPUT, 7) /* (N20) GPMC0_DIR.GPIO0_36 */
			AM62X_IOPAD(0x00a4, PIN_INPUT, 7) /* (M22) GPMC0_DIR.GPIO0_40 */
			AM62X_IOPAD(0x00a8, PIN_INPUT, 7) /* (M21) GPMC0_DIR.GPIO0_41 */
			AM62X_IOPAD(0x00ac, PIN_INPUT, 7) /* (L21) GPMC0_CSn1.GPIO0_42 */
		>;
	};

	gpio1_pins_default: gpio1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x194, PIN_OUTPUT, 7)	/* (B19) MCASP0_AFSX.GPIO1_7*/
			AM62X_IOPAD(0x198, PIN_OUTPUT, 7)	/* (A19) MCASP0_AFSX.GPIO1_8*/
			AM62X_IOPAD(0x1a4, PIN_OUTPUT, 7)	/* (B20) MCASP0_AFSX.GPIO1_11*/
			AM62X_IOPAD(0x1b0, PIN_OUTPUT, 7)	/* (A20) MCASP0_AFSX.GPIO1_14*/


			AM62X_IOPAD(0x1b4, PIN_INPUT, 7)	/* (A13) MCASP0_AFSX.GPIO1_15*/
			AM62X_IOPAD(0x1bc, PIN_INPUT, 7)	/* (A14) MCASP0_AFSX.GPIO1_17*/
			AM62X_IOPAD(0x1c0, PIN_INPUT, 7)	/* (B13) MCASP0_AFSX.GPIO1_18*/
			AM62X_IOPAD(0x1c4, PIN_INPUT, 7)	/* (B14) MCASP0_AFSX.GPIO1_19*/
		>;
	};

	local_i2c2_pins_default: local-i2c2-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x00b0, PIN_INPUT_PULLUP, 1) /* (K22) GPMC0_CSn2.I2C2_SCL */
			AM62X_IOPAD(0x00b4, PIN_INPUT_PULLUP, 1) /* (K24) GPMC0_CSn3.I2C2_SDA */
		>;
	};

	mdio0_pins_default: mdio0-pins-default {
		pinctrl-single,pins = <
			// AM62X_IOPAD(0x0160, PIN_OUTPUT, 7) /* (AD24) MDIO0_MDC.GPIO0_86 */
			// AM62X_IOPAD(0x015c, PIN_INPUT, 7) /* (AB22) MDIO0_MDIO.GPIO0_85 */
			AM62X_IOPAD(0x0160, PIN_OUTPUT, 0) /* (AD24) MDIO0_MDC */
			AM62X_IOPAD(0x015c, PIN_INPUT, 0) /* (AB22) MDIO0_MDIO */
		>;
	};

	rgmii1_pins_default: rgmii1-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x014c, PIN_INPUT, 0) /* (AB17) RGMII1_RD0 */
			AM62X_IOPAD(0x0150, PIN_INPUT, 0) /* (AC17) RGMII1_RD1 */
			AM62X_IOPAD(0x0154, PIN_INPUT, 0) /* (AB16) RGMII1_RD2 */
			AM62X_IOPAD(0x0158, PIN_INPUT, 0) /* (AA15) RGMII1_RD3 */
			AM62X_IOPAD(0x0148, PIN_INPUT, 0) /* (AD17) RGMII1_RXC */
			AM62X_IOPAD(0x0144, PIN_INPUT, 0) /* (AE17) RGMII1_RX_CTL */
			AM62X_IOPAD(0x0134, PIN_OUTPUT, 0) /* (AE20) RGMII1_TD0 */
			AM62X_IOPAD(0x0138, PIN_OUTPUT, 0) /* (AD20) RGMII1_TD1 */
			AM62X_IOPAD(0x013c, PIN_OUTPUT, 0) /* (AE18) RGMII1_TD2 */
			AM62X_IOPAD(0x0140, PIN_OUTPUT, 0) /* (AD18) RGMII1_TD3 */
			AM62X_IOPAD(0x0130, PIN_OUTPUT, 0) /* (AE19) RGMII1_TXC */
			AM62X_IOPAD(0x012c, PIN_OUTPUT, 0) /* (AD19) RGMII1_TX_CTL */
		>;
	};

	rgmii2_pins_default: rgmii2-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x184, PIN_INPUT, 0) /* (AE23) RGMII2_RD0 */
			AM62X_IOPAD(0x188, PIN_INPUT, 0) /* (AB20) RGMII2_RD1 */
			AM62X_IOPAD(0x18c, PIN_INPUT, 0) /* (AC21) RGMII2_RD2 */
			AM62X_IOPAD(0x190, PIN_INPUT, 0) /* (AE22) RGMII2_RD3 */
			AM62X_IOPAD(0x180, PIN_INPUT, 0) /* (AD23) RGMII2_RXC */
			AM62X_IOPAD(0x17c, PIN_INPUT, 0) /* (AD22) RGMII2_RX_CTL */
			AM62X_IOPAD(0x16c, PIN_OUTPUT, 0) /* (Y18) RGMII2_TD0 */
			AM62X_IOPAD(0x170, PIN_OUTPUT, 0) /* (AA18) RGMII2_TD1 */
			AM62X_IOPAD(0x174, PIN_OUTPUT, 0) /* (AD21) RGMII2_TD2 */
			AM62X_IOPAD(0x178, PIN_OUTPUT, 0) /* (AC20) RGMII2_TD3 */
			AM62X_IOPAD(0x168, PIN_OUTPUT, 0) /* (AE21) RGMII2_TXC */
			AM62X_IOPAD(0x164, PIN_OUTPUT, 0) /* (AA19) RGMII2_TX_CTL */
		>;
	};

	rs485_pins_default: rs485-pins-default {
		pinctrl-single,pins = <
			AM62X_IOPAD(0x0128, PIN_OUTPUT, 3) /* (B23) UART4_TXD */
			AM62X_IOPAD(0x0124, PIN_INPUT, 3) /* (A23) UART4_RXD */
		>;
	};

	rs232_pins_default: rs232-pins-default {
		pinctrl-single,pins = <
			// AM62X_IOPAD(0x0034, PIN_INPUT, 5) /* (H21) UART5_RXD */
			// AM62X_IOPAD(0x0038, PIN_OUTPUT, 5) /* (E24) UART5_TXD */
			AM62X_IOPAD(0x00d0, PIN_INPUT, 4) /* (Y23) UART5_RXD */
			AM62X_IOPAD(0x00d4, PIN_OUTPUT, 4) /* (AA25) UART5_TXD */
		>;
	};

};

/* cbass_main */
/* cbass_wkup */
/* NETWORK */
&cpsw3g {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii1_pins_default>, <&rgmii2_pins_default>;
	assigned-clocks = <&k3_clks 157 70>, <&k3_clks 157 20>;
	assigned-clock-parents = <&k3_clks 157 72>, <&k3_clks 157 22>;
};

&cpsw_port1 {
	status = "okay";
	phy-mode = "rgmii-rxid";
	phy-handle = <&cpsw3g_phy0>;
};

&cpsw_port2 {
	status = "okay";
	phy-mode = "rgmii-rxid";
	phy-handle = <&cpsw3g_phy1>;
};

&cpsw3g_mdio {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&mdio0_pins_default>;

	cpsw3g_phy0: ethernet-phy@0 {
		reg = <0>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <42 IRQ_TYPE_EDGE_FALLING>;
		reset-assert-us = <10000>;
		reset-deassert-us = <50000>;
		reset-gpios = <&main_gpio0 36 GPIO_ACTIVE_LOW>;
	};

	cpsw3g_phy1: ethernet-phy@1 {
		reg = <1>;
		interrupt-parent = <&main_gpio0>;
		interrupts = <41 IRQ_TYPE_EDGE_FALLING>;
		reset-assert-us = <10000>;
		reset-deassert-us = <50000>;
		reset-gpios = <&main_gpio0 40 GPIO_ACTIVE_LOW>;
	};	

};

/* GPIO */

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio0_pins_stratus
				 &gpio0_pins_default>;
	gpio-line-names = "", "", "", "", "", "", "", "",	/* 0-7 */
		"", "", "", "", "NOR_PWR_EN", "", "",			/* 8-14 */
		"", "", "", "", "", "", "",		/* 15-21 */
		"", "",	/* 22-23 */
		"", "",	/* 24-25 */
		"", "", "", "", "", "", "", "LED1", "LED2", "LED3", "ETH0_RST", "",	/* 26-37 */
		"", "", "ETH1_RST", "ETH1_IRQ", "ETH0_IRQ", "", "", "", "", "",		/* 38-47 */
		"", "", "", "";			/* 48-51 */
};

&main_gpio1 {
	pinctrl-names = "default";
	pinctrl-0 = <&gpio1_pins_default>;
	gpio-line-names = "", "", "", "", "", "", "", "",	/* 0-7 */
		"", "", "", "", "", "", "",			/* 8-14 */
		"", "", "", "", "", "", "",		/* 15-21 */
		"", "",	/* 22-23 */
		"", "",	/* 24-25 */
		"", "", "", "", "", "", "", "", "", "", "", "",	/* 26-37 */
		"", "", "", "", "", "", "", "", "", "",		/* 38-47 */
		"", "", "", "";			/* 48-51 */
};

&mcu_gpio0 {
	gpio-line-names = "", "", "", "",			/* 0-3 */
		"", "", "", "",					/* 4-7 */
		"", "", "", "",					/* 8-11 */
		"", "", "", "",					/* 12-15 */
		"", "", "", "",	/* 16-19 */
		"", "", "", "";					/* 20-23 */
};

/* I2C */
/* SDIO (EMMC/SD) */

&main_uart1 {
	status = "disabled";
};

&main_uart2 {
	status = "disabled";
};

&main_uart4 {
	bootph-all;
	pinctrl-names = "default";
	pinctrl-0 = <&rs485_pins_default>;
	status = "okay";
	linux,rs485-enabled-at-boot-time;
};

&main_uart5 {
	status = "disabled";
};